<footer class="site-footer">
  <div class="footer-widgets">
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-6 col-lg-3 mt-5 mt-md-0">
          <div class="foot-contact">
            <h2>Contact Us</h2>
            <ul>
              <li>Email: info.deertcreative@gmail.com</li>
              <li>Phone: (+88) 111 555 666</li>
              <li>Address: 40 Baria Sreet 133/2 NewYork City, US</li>
            </ul>
          </div><!-- .foot-contact -->
        </div><!-- .col -->
        <div class="col-12 col-md-6 col-lg-3 mt-5 mt-lg-0">
          <div class="follow-us">
            <h2>Follow Us</h2>
            <ul class="follow-us flex flex-wrap align-items-center">
              <li><a href="#"><i class="fa fa-facebook"></i></a></li>
              <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
              <li><a href="#"><i class="fa fa-instagram"></i></a></li>
              <li><a href="#"><i class="fa fa-twitter"></i></a></li>
            </ul>
          </div><!-- .quick-links -->
        </div><!-- .col -->
        <div class="col-12 col-lg-6">
          <div class="download-apps flex flex-wrap justify-content-center justify-content-lg-start align-items-center">
            <ul>
              <li><a href="#"><img src="assets/images/app-store.png" alt=""></a></li>
              <li><a href="#"><img src="assets/images/play-store.png" alt=""></a></li>
            </ul>
          </div><!-- .download-apps -->
        </div>
      </div><!-- .row -->
    </div><!-- .container -->
  </div><!-- .footer-widgets -->

</footer>
