<!--<mat-datepicker-toggle [for]="resultPicker"></mat-datepicker-toggle>-->
<!--<mat-form-field>-->
<!--  <mat-label>Pick a date</mat-label>-->
<!--  <input matInput-->
<!--         #resultPickerModel="ngModel"-->
<!--         [matDatepicker]="resultPicker"-->
<!--         [(ngModel)]="date"-->
<!--         [matDatepickerFilter]="dateFilter">-->
<!--  <mat-datepicker #resultPicker>-->
<!--  </mat-datepicker>-->
<!--  <mat-error *ngIf="resultPickerModel.hasError('matDatepickerParse')">-->
<!--    "{{resultPickerModel.getError('matDatepickerParse').text}}"-->
<!--    is not a valid date!-->
<!--  </mat-error>-->
<!--  <mat-error *ngIf="resultPickerModel.hasError('matDatepickerFilter')">-->
<!--    Date unavailable! It's a weekend.-->
<!--  </mat-error>-->
<!--</mat-form-field>-->

