<div class="container">
  <div class="row justify-content-between">
    <div class="col-12">
      <div class="contact-info">
        <h3>Chi tiết căn nhà</h3>
        <p><a href="#">{{details.images}}</a></p>
        <div class="row">
          <div class="col-6">
            <ul class="p-0 m-0">
              <li><span>Tên căn hộ:</span>{{details.name}}</li>
              <li><span>Mô tả:</span><a href="#">{{details.status}}</a></li>
              <li><span>Địa chỉ:</span><a href="#">{{details.address}} - {{details.ward}} - {{details.district}} - {{details.city}}</a></li>
            </ul>
          </div>
          <div class="col-6">
            <ul class="p-0 m-0">
              <li><span>Phòng ngủ:</span>{{details.bedroom}}</li>
              <li><span>Phòng tắm:</span><a href="#">{{details.bathroom}}</a></li>
              <li><span>Giá tiền (vnđ/ngày):</span><a href="#">{{details.price}}</a></li>
            </ul>
          </div>
        </div>
        <p><input type="submit" href="#" value="Đặt nhà"></p>
      </div>
    </div>
  </div>
</div>


